n8n/workflow-stripe-to-pipeline.json
{
  "name": "itsadecline — Stripe Payment to Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itsadecline",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Stripe Payment Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "case_ref",
              "value": "={{ $json.body.case_ref }}"
            },
            {
              "name": "case_id",
              "value": "={{ $json.body.case_id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "postcode",
              "value": "={{ $json.body.postcode }}"
            },
            {
              "name": "stripe_session_id",
              "value": "={{ $json.body.stripe_session_id }}"
            },
            {
              "name": "drive_parent_folder_id",
              "value": "={{ $env.GOOGLE_DRIVE_CASES_FOLDER_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-vars",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "={{ $json.case_ref }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.drive_parent_folder_id }}"
        },
        "options": {}
      },
      "id": "node-create-root-folder",
      "name": "Create Root Case Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Identity",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-identity",
      "name": "Subfolder: Identity",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Income",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-income",
      "name": "Subfolder: Income",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Property",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-property",
      "name": "Subfolder: Property",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Mortgage",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-mortgage",
      "name": "Subfolder: Mortgage",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Statements",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-statements",
      "name": "Subfolder: Statements",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 500],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Correspondence",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-correspondence",
      "name": "Subfolder: Correspondence",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 600],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Offers",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-offers",
      "name": "Subfolder: Offers",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 700],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "createFolder",
        "name": "Archive",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Root Case Folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "node-folder-archive",
      "name": "Subfolder: Archive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 800],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive Service Account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/cases?case_ref=eq.{{ $('Set Variables').item.json.case_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"drive_folder_id\": \"{{ $('Create Root Case Folder').item.json.id }}\",\n  \"stage\": \"KYC\"\n}",
        "options": {}
      },
      "id": "node-update-supabase-drive",
      "name": "Update Case: Drive Folder + Stage KYC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"itsadecline <noreply@itsadecline.com>\",\n  \"to\": [\"{{ $('Set Variables').item.json.email }}\"],\n  \"subject\": \"Your application is underway — Case Ref: {{ $('Set Variables').item.json.case_ref }}\",\n  \"html\": \"<div style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\\\"><div style=\\\"background:#1a2332;padding:24px 32px;border-radius:8px 8px 0 0;\\\"><h1 style=\\\"color:#f59e0b;margin:0;\\\">itsadecline.com</h1></div><div style=\\\"background:#f9fafb;padding:32px;border-radius:0 0 8px 8px;\\\"><h2 style=\\\"color:#1a2332;\\\">Hi {{ $('Set Variables').item.json.name }},</h2><p>Your payment has been received and your case is now open.</p><div style=\\\"background:#fff;border:1px solid #e5e7eb;border-radius:8px;padding:20px;margin:20px 0;\\\"><p style=\\\"margin:0;font-size:18px;\\\"><strong>Your Case Reference:</strong></p><p style=\\\"font-size:28px;font-weight:700;color:#f59e0b;margin:8px 0;\\\">{{ $('Set Variables').item.json.case_ref }}</p></div><p>Our team is now conducting identity verification. You'll receive a Credas link shortly to complete your KYC check.</p><p><strong>Next steps:</strong></p><ol><li>Complete your identity check (Credas link incoming)</li><li>We run HMLR title search on your property</li><li>Desktop valuation completed</li><li>Case submitted to lender panel</li></ol><p style=\\\"margin-top:24px;font-size:13px;color:#6b7280;\\\">Questions? Email <a href=\\\"mailto:sl@itsadecline.com\\\">sl@itsadecline.com</a></p></div></div>\"\n}",
        "options": {}
      },
      "id": "node-welcome-email",
      "name": "Send Welcome Email to Applicant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.credas.co.uk/v1/checks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CREDAS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"identity\",\n  \"reference\": \"{{ $('Set Variables').item.json.case_ref }}\",\n  \"subject\": {\n    \"name\": \"{{ $('Set Variables').item.json.name }}\",\n    \"email\": \"{{ $('Set Variables').item.json.email }}\"\n  },\n  \"redirect_url\": \"https://itsadecline.com/thank-you.html\",\n  \"webhook_url\": \"{{ $env.N8N_CREDAS_WEBHOOK_URL }}\"\n}",
        "options": {}
      },
      "id": "node-credas-kyc",
      "name": "Send Credas KYC Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/cases?case_ref=eq.{{ $('Set Variables').item.json.case_ref }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"credas_check_id\": \"{{ $json.id }}\",\n  \"credas_status\": \"PENDING\"\n}",
        "options": {}
      },
      "id": "node-update-credas-id",
      "name": "Update Case: Credas Check ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"itsadecline Pipeline <noreply@itsadecline.com>\",\n  \"to\": [\"sl@itsadecline.com\"],\n  \"subject\": \"🟢 New Case Opened: {{ $('Set Variables').item.json.case_ref }}\",\n  \"html\": \"<div style=\\\"font-family:Arial,sans-serif;max-width:600px;\\\"><h2 style=\\\"color:#1a2332;\\\">New Case Opened</h2><table style=\\\"width:100%;border-collapse:collapse;font-size:14px;\\\"><tr style=\\\"background:#f3f4f6;\\\"><td style=\\\"padding:8px;font-weight:600;\\\">Case Ref</td><td style=\\\"padding:8px;\\\">{{ $('Set Variables').item.json.case_ref }}</td></tr><tr><td style=\\\"padding:8px;font-weight:600;\\\">Name</td><td style=\\\"padding:8px;\\\">{{ $('Set Variables').item.json.name }}</td></tr><tr style=\\\"background:#f3f4f6;\\\"><td style=\\\"padding:8px;font-weight:600;\\\">Email</td><td style=\\\"padding:8px;\\\">{{ $('Set Variables').item.json.email }}</td></tr><tr><td style=\\\"padding:8px;font-weight:600;\\\">Postcode</td><td style=\\\"padding:8px;\\\">{{ $('Set Variables').item.json.postcode }}</td></tr><tr style=\\\"background:#f3f4f6;\\\"><td style=\\\"padding:8px;font-weight:600;\\\">Stripe Session</td><td style=\\\"padding:8px;\\\">{{ $('Set Variables').item.json.stripe_session_id }}</td></tr><tr><td style=\\\"padding:8px;font-weight:600;\\\">Drive Folder</td><td style=\\\"padding:8px;\\\"><a href=\\\"https://drive.google.com/drive/folders/{{ $('Create Root Case Folder').item.json.id }}\\\">Open in Drive</a></td></tr><tr style=\\\"background:#f3f4f6;\\\"><td style=\\\"padding:8px;font-weight:600;\\\">Credas Check ID</td><td style=\\\"padding:8px;\\\">{{ $('Send Credas KYC Request').item.json.id }}</td></tr><tr><td style=\\\"padding:8px;font-weight:600;\\\">Stage</td><td style=\\\"padding:8px;\\\">KYC</td></tr></table></div>\"\n}",
        "options": {}
      },
      "id": "node-internal-notification",
      "name": "Internal Notification to sl@itsadecline.com",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Stripe Payment Received": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Root Case Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Root Case Folder": {
      "main": [
        [
          {
            "node": "Subfolder: Identity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Income",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Property",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Mortgage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Statements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Correspondence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Offers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subfolder: Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subfolder: Archive": {
      "main": [
        [
          {
            "node": "Update Case: Drive Folder + Stage KYC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case: Drive Folder + Stage KYC": {
      "main": [
        [
          {
            "node": "Send Welcome Email to Applicant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Credas KYC Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email to Applicant": {
      "main": [
        [
          {
            "node": "Internal Notification to sl@itsadecline.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Credas KYC Request": {
      "main": [
        [
          {
            "node": "Update Case: Credas Check ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["itsadecline", "stripe", "pipeline"],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T00:00:00.000Z",
  "versionId": "1"
}
